/* game page */
.container-game {
  background-color: var(--secendary-color);
  max-width: 100%;
  width: 855px;
  height: 663px;
  margin: auto;
  border-radius: 30px;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  position: relative;
}

.game-timer {
  position: absolute;
  top: 20px;
  right: 30px;
  font-weight: 900;
  color: var(--text-orange);
}

.game-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.game-form p {
  margin-bottom: 20px;
}
.game-checkbox {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  gap: 12px;
  cursor: pointer;
}
.game-checkbox span:hover {
  color: #555;
}

.game-checkbox input {
  cursor: pointer;
}

.game_btn {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.game_btn input {
  padding: 5px 10px;
  background-color: var(--text-orange);
  color: white;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}
.game_btn input:hover {
  opacity: 80%;
}
.game_btn a {
  padding: 5px 10px;
  background-color: var(--text-orange);
  color: white;
  border-radius: 10px;
}
.game_btn a:hover {
  opacity: 80%;
}

/* game section */
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  background: rgb(25, 205, 157);
  padding: 40px 60px;
  border-radius: 10%;
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25),
    10px 10px 70px rgba(0, 0, 0, 0.25), inset 5px 5px 10px rgba(0, 0, 0, 0.25),
    inset 5px 5px 10px rgba(255, 255, 5550, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
}

.title {
  font-size: 1.5em;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  width: fit-content;
  user-select: none;
}

.title img {
  width: 75px;
}

.reset {
  padding: 7px 35px;
  color: #9cc83c;
  background: #fff;
  border: none;
  font-size: 17px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 10px;
}

.reset:hover {
  color: #fff;
  background: rgb(24, 104, 82);
}

.reset:focus {
  color: #fff;
  background: rgb(42, 182, 145);
}

.game {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  transform-style: preserve-3d;
  perspective: 500px;
}

.item {
  position: relative;
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.2em;
  background: #e8eed4;
  transition: 0.25s;
  border-radius: 5px;
  transform: rotateY(180deg);
  cursor: pointer;
}

.item::after {
  content: '';
  position: absolute;
  inset: 0;
  background: #209d7b;
  transition: 0.5s;
  transform: rotateY(0deg);
  backface-visibility: hidden;
}

.item.boxOpen {
  transform: rotateY(0deg);
}

.boxOpen::after {
  transform: rotateY(180deg);
}

.boxOpen::after,
.boxMatch::after {
  transform: rotateY(180deg);
}

/* responsive */
@media only screen and (max-device-width: 350px) {
  .container {
    width: 300px;
    border-radius: 25px !important;
    padding: 20px 30px !important;
  }

  .title img {
    width: 50px;
  }

  .item {
    position: relative;
    width: 60px !important;
    height: 60px !important;
    border-radius: 10px !important;
  }

  .item::after {
    border-radius: 10px !important;
  }
}
@media only screen and (min-device-width: 351px) and (max-device-width: 480px) {
  .container {
    max-width: 400px;
    border-radius: 25px !important;
    padding: 20px 30px !important;
  }

  .title img {
    width: 65px;
  }

  .item {
    position: relative;
    width: 60px !important;
    height: 60px !important;
    border-radius: 10px !important;
  }

  .item::after {
    border-radius: 10px !important;
  }
}
