/* colors */
:root {
  --main-color: #53a0bb;
  --secendary-color: #fff1da;
  --text-head: #181e4b;
  --text-main: #5c82b0;
  --text-orange: #df6951;
}

/* css reset */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background: #12a6dd;
}

a {
  text-decoration: none;
  color: var(--text-main);
}

/* navigationBar */
nav {
  padding: 10px 30px;
  display: flex;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}
nav span {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 900;
  font-size: 25px;
  color: var(--text-head);
}
nav span img {
  width: 40px;
}
nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 10px;
}
nav ul li a {
  color: var(--text-head);
  font-weight: 800;
  font-size: 20px;
}
