/* Home Page Css */

/* Login or Start Section */
.info-Section {
  margin: 150px auto;
  display: flex;
  width: 45%;
  height: 300px;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 20px;
  text-align: center;
}

.info-Section h1 {
  color: var(--text-gold);
  font-size: 3rem;
}

.info-Section .info-Subtitle {
  margin-top: 50px;
}

.info-Section .info-Btn {
  margin: 40px;
  display: flex;
  justify-content: center;
  gap: 60px;
}

.info-Section .info-BtnS,
.info-Btn-Left {
  cursor: pointer;
  height: 50px;
  margin: 20px 0px;
  width: 150px;
  font-size: 1.1rem;
  transition: 500ms;
  border-radius: 5px;
}

.info-Section .info-Btn-Left:hover {
  box-shadow: -1px -1px 10px #b8a881;
  color: #fae5b0;
}

.info-Section .info-BtnS:hover {
  box-shadow: -1px -1px 10px #fae5b0;
  color: #3b3b3b;
}
.info-Section .info-BtnS {
  color: #575653;
  font-weight: bold;
  box-shadow: -1px -1px 10px #928b7b;
  background: linear-gradient(145deg, #e4d9bf, #eeba36);
}

.info-Section .info-Btn-Left {
  background: linear-gradient(145deg, #2e2d2d, #6b624b);
  box-shadow: -1px -1px 10px #72684e;
  font-weight: bold;
  color: #dfd3b6;
}

/*  Feature Section  */
.feature-Section {
  height: 800px;
  text-align: center;
  margin-bottom: 100px;
  background-image: url(../images/home/Union.png);
  background-repeat: no-repeat;
  background-position: right top;
}

.features {
  margin: 20px 200px 60px;
  max-width: 1300px;
  margin: auto;
}

.features h1 {
  color: var(--text-gold);
}

.option-Container {
  display: flex;
  justify-content: space-around;
  margin: 0 80px 0 300px;
}

.left-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.option-Container-leftTitle {
  color: #e0c171;
}

.right-Container {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 50px;
  width: 800px;
  background-color: #20202074;
  border-radius: 20px;
  margin-top: 40px;
}

.option-Container img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.right-Container div {
  display: flex;
  margin: 20px;
}

.right-Container p {
  margin-left: 80px;
  font-size: 0.8rem;
}

/* Brand Section */
.brand-Section {
  background-image: url(../images/home/sky.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 30px;
}

.brand-Title {
  font-size: 52px;
  font-weight: 500;
  margin-bottom: 20px;
  text-shadow: 1px 3px 0 #969696;
}

.brand-Desc {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  line-height: 30px;
  letter-spacing: 0.2px;
  margin-bottom: 35px;
}

.brand-Desc span {
  color: #d9b346;
  font-weight: 600;
}

#programing-Logo {
  width: 550px;
}

/* BecameMember Section */
.became-Member {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0px;
}

.became-Member .left {
  display: flex;
  flex-direction: column;
}

.became-Member-Title {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 8px;
}

.became-Member-Question {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  width: 445px;
  margin-bottom: 18px;
}

.became-Member-Desc {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  width: 430px;
  margin-bottom: 33px;
}

.became-Member-SignUp {
  width: 383px;
  padding: 15px 0px;
  text-align: center;
  border-radius: 7px;
  color: var(--secondary-color);
  font-weight: 900;
  font-size: 1.3rem;
  background: linear-gradient(96deg, #f7ea76 0%, #d1af4d 111.25%);
  box-shadow: 0px 4px 31px 0px rgba(237, 8, 8, 0.15);
}

.became-Member-SignUp:hover {
  cursor: pointer;
  opacity: 65%;
}

.became-Member .right {
  background-image: url(../images/home/personalPattern.svg);
  display: flex;
  align-items: end;
}

.became-Member .right img:hover {
  scale: 110%;
  transition: all 3s;
}
