@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* colors */
:root {
  --main-color: #181818;
  --secendary-color: #191919;
  --text-gold: #d9b346;
  --text-main: #fff;
  --background: #181818;
}

/* css reset */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background: var(--background);
  color: var(--text-main);
  font-family: Poppins;
}

a {
  text-decoration: none;
  color: var(--text-main);
}

/* navbar section   */
nav {
  padding: 10px 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
  margin: 2px 40px;
  /* border: 2px solid var(--text-gold); */
}
#brand-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 800;
  font-size: 20px;
  color: var(--text-gold);
}
#brand-logo img {
  width: 60px;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}
nav ul li a {
  color: var(--text-main);
  font-weight: 600;
  font-size: 20px;
}

nav ul li a:hover {
  color: var(--text-gold);
  opacity: 50%;
}

.active {
  font-weight: 900;
  font-size: 21px;
  color: var(--text-gold);
}

#signIn-SignUp {
  padding: 10px;
  background: var(--background);
  color: var(--text-main);
  /* border: 1px solid var(--text-gold); */
  border-radius: 15px;
  height: fit-content;
  margin: 0px;
  display: flex;
  align-items: center;
  gap: 5px;
}
#signIn-SignUp:hover{
  transition: all 0.5s;
  background-color: var(--text-gold);
}

.container {
  height: 75%;
  width: 100%;
}

 /* login or start */

.indexContainer1{
  margin: 150px auto;
  display: flex;
  width: 45%;
  height: 300px;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 20px;
   text-align: center;
}

.indexContainer1 h1{
  color: var(--text-gold);
  font-size: 3rem;
}

.indexContainer1 .indexSubtittle{
margin-top: 50px;

}

.indexContainer1 .indexBtn{
  margin: 40px;
}

.indexContainer1 .indexBtnS , .indexBtnL {
 cursor: pointer;
  height: 50px;
  margin: 20px 30px;
  width: 120px;
  font-family: Poppins;
  font-size: 1.1rem;
  transition: 500ms;
  border-radius: 5px;
}

.indexContainer1 .indexBtnL:hover  {
  box-shadow: -1px -1px 10px #b8a881;
  color:#fae5b0;
}

.indexContainer1 .indexBtnS:hover {
  box-shadow: -1px -1px 10px    #fae5b0;
  color: #3b3b3b;
}
.indexContainer1 .indexBtnS{
  color:#575653;
  font-weight:bold;
  box-shadow: -1px -1px 10px #928b7b;
  background: linear-gradient(145deg, #e4d9bf, #eeba36)
}

.indexContainer1 .indexBtnL{
  background: linear-gradient(145deg, #2e2d2d, #6b624b);
  box-shadow: -1px -1px 10px #72684e;
  font-weight:bold;
  color:#dfd3b6;
}

/* footer section */
footer {
  background-position: center top;
  background-repeat: no-repeat;
  background-image: url(../images/footer.svg);
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 50px;
}

.footer {
  display: flex;
  flex-direction: column;
  margin-left: 200px;
}

#footer-emoji {
  width: 100px;
}

.footer-title {
  color: var(--text-gold);
  font-size: 4rem;
  padding-right: 500px;
}

.footer-dec {
  margin-top: 15px;
  width: 450px;
  line-height: 1.5;
  text-align: justify;
}

.footer-socialMedia{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0px;
  gap: 20px;
}

.footer-socialMedia img{
  width:40px;
}

.copy-right {
  background-color: #2a2a2a;
  width: fit-content;
  margin: 0px auto 10px auto;
  color: var(--text-gold);
  padding: 10px 20px;
  border-radius: 15px;
  font-size: 1.1rem;
}
