/* Scores page */
.scores-container {
  background: rgb(25, 205, 157);
  max-width: 100%;
  width: 855px;
  height: 663px;
  margin: auto;
  border-radius: 30px;
  padding: 20px 40px;
  display: flex;
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25),
  10px 10px 70px rgba(0, 0, 0, 0.25),
  inset 5px 5px 10px rgba(0, 0, 0, 0.25),
  inset   5px 5px 10px rgba(255, 255, 5550, 0.2),
  inset   -5px -5px 15px rgba(0, 0, 0, 0.75);
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th {
  color: var(--text-head);
  font-weight: 900;
  font-size: 20px;
}

td,
th {
  border: 1px solid var(--text-head);
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #cacaca;
}
