.scores-container {
  background: var(--background);
  max-width: 100%;
  width: 855px;
  height: 663px;
  margin: 80px auto;
  border-radius: 30px;
  padding: 20px 40px;
  margin-top: 50px;
  box-shadow: 2px 3px 37px -6px rgba(217, 179, 70, 0.72);
  -webkit-box-shadow: 2px 3px 37px -6px rgba(217, 179, 70, 0.72);
  -moz-box-shadow: 2px 3px 37px -6px rgba(217, 179, 70, 0.72);
  background-image: url(../images/imgSetting/Union\ \(1\).png);
  overflow-y: scroll; 
  max-height: 650px;
}

table {
  font-family: arial, sans-serif;
  width: 100%;
  border-spacing: 5px 0;
  padding-bottom: 40px;
}

th {
  color: var(--text-gold);
  font-weight: 900;
  font-size: 1.5rem;
}

td,
th {
  text-align: center;
  padding: 8px;
  border-radius: 15px;
}

tr:nth-child(even) {
  background-color: #9e967f8b;
  min-height: 60px;
  font-size: 1.3rem;
  font-weight: 700;
}
tr:nth-child(odd) {
  background-color: #a39a7f2f;
  min-height: 60px;
  font-size: 1.3rem;
  font-weight: 700;
}
