.setting {
  width: 600px;
  height: 350px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 0 40px 40px;
  margin: 50px auto 100px ;
  justify-content: center;
  box-shadow: rgba(250, 250, 250, 0.1) 0px 4px 12px;
}

table {
  background-image: url("../images/imgsetting/8138727.png");
  background-size: 10% 20%;
  background-position: right top;
  background-repeat: no-repeat;

  font-family:Poppins;
  border-collapse: collapse;
  width: 100%;
}

th {
  color: rgb(197, 180, 83);
  font-weight: 900;
  font-size: 2rem;
}

td,
th {
  border-bottom: 1px solid #72684e;
  text-align: left;
  padding: 13px;
}

button {
  cursor: pointer;
  height: 30px;
  margin: 5px;
  width: 90px;
  font-family: Poppins;
  font-size: 0.8rem;
  color: var(--text-gold);
  transition: 500ms;
  border-radius: 5px;
  background: linear-gradient(145deg, #2e2d2d, #4d4635);
  box-shadow: -1px -1px 10px #72684e;
}

button:hover {
  box-shadow: -1px -1px 10px #828285;
  color: #c5c5c5;
}


