.Container-SignIn{
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    margin: 30px auto;
    max-width: 1500px;
    box-shadow: #d9b2465b 0px -1px 5px;
 
}

/* right section */
.right{
    position: relative;
    width: 50%;
}

.right img{
    width: 100%;
}

.right span{
    position: absolute;
    left: 16px;
    bottom: 241px;
    font-size: 3rem;
    width: 350px;
    text-shadow: #d9b346 1.95px 1.95px 2.6px;
    user-select: none;
}

/* left section */
.left{
    background-image: url(../images/signUp/keyboard.png);
    background-position: center center;
    border-radius: 15px 0px 0px 15px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.left form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 500px;
    margin-bottom: 30px;
}

.left form input{
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    width: 350px;
}

.left form input:hover {
    background-color: #a9a9a9;
  }
  
  .left span{
    color: var(--text-gold);
  
  }

#signIn-btn{
    padding: 10px 15px;
  border-radius: 10px;
  border: 2px solid var(--text-gold);
  width: 350px;
  margin-top: 10px;
  width: 150px;
  cursor: pointer;
  font-weight: 700;
}

#signIn-btn:hover{
    background-color: var(--text-gold);
    opacity: 35%;
    color: white;
  
}

#separator {
    width: 300px;
  }

#SignUp-Link:hover{
    color: var(--text-gold);
    opacity: 75%;
}

#SignIn-title{
    margin-bottom: 25px;
    font-size: 2rem;
    font-weight: 900;
    color: var(--text-gold);
}